.main {
    width: 100%;
    background-color:#f5f3f5;
    position: relative;
    min-height: 900px;
    display: flex;
    flex-direction: column;

}
.body{
    width: 100%;
    flex:1;
}
.body-welcome{
    width: 100%;
    min-height: 400px;
    background-color: #e7c7c0;
}
.background{
    height:400px;
    width: 500px;
    float: right;
}
.body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
